body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    padding-top: 60px;
}

.header {
    background-color: #8a0538;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.sidebar {
    background-color: white;
    padding: 20px;
    color: #333;
    border-right: 1px solid #ddd;
    left: 0;
    top: 60px;
    bottom: 0;
    transition: transform 0.3s ease;
    z-index: 1020;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.content {
    padding: 40px;
    margin-left: 220px;
    transition: margin-left 0.3s ease;
}

.btn-primary {
    background-color: #6e042d;
    border: none;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-hidden {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.card {
    border-radius: 15px;
    background-color: #f8f9fa;
}

input[type="range"] {
    accent-color: #8a0538;
    height: 10px;
    background-color: #ddd;
    border: solid 1px #8e8e8e8b;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #8a0538;
    /*border-radius: 50%;*/
    cursor: pointer;
}

textarea {
    resize: none;
}

button {
    background-color: #8a0538;
    border: none;
}

button:hover {
    background-color: #72032d;
}

.input-group-text {
    background-color: #f8f9fa;
    border-color: #ced4da;
}
